.game {
  max-width: 1450px;
  margin: 0 auto;
}

.body {
  display: flex;
  
}

.help{
  padding: 0px;
}

.help label{
  color: rgb(2, 2, 2);
  margin-bottom: 10px; 
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 351.5%;
  border:5px solid skyblue;
  background-color:skyblue;

  }

.left {
  text-align: center;
  width: 120%;
  border:5px solid skyblue;
  padding-bottom: 50px;
  background-image: url("741514.jpg");
}

.right {
  text-align: center;
  padding: 20px;
  width: 120%;
  border:5px solid skyblue;
}

.star {
	display: inline-block;
  margin: 0 30px;
  color:  white;
}

.star:after {
  content: "\2605";
  font-size: 170px;
}




.number {
  border: solid rgb(37, 2, 236);
  width: 180px;
  height: 180px;
  margin: 20px;
  font-size: 100px;
  color:rgb(37,2, 236);
  font-weight: 1000;
}

.number:focus, .number:active {
  outline: none;
  border: thin solid #ddd;
}

.timer .timeLabel{
	color:black;
  margin-top: 50px;
  margin-left: 0px;
  font-size: 250%;
  font-weight: 1000;
  text-align: left;
  border:solid black 1px;
  height: 1000%;
  padding: 3px;
}
.timer .timeLabel .secondsLeft{
  color:red;
  font-size: 120%;
}
.timer .dateLabel {
  padding: 2px;
  margin-top: 1px;
  margin-left: 350px;
  font-size: 250%;
  font-weight: 1000;
  text-align: left;
  border:solid black 1px;
    
}
.timer span{
  color: rgb(0, 0, 0);
  font-size: 100%;
  text-align: right;
  font-weight: 1800;
  
  
}
.timer{
  border: solid skyblue 5px;
  padding: 5px;
}

.game-done .message {
  font-size: 1000%;
  font-weight: bold;
  text-align: middle;
  

}
.game-done button{
  font-size: 300%;
  background-image: url("jan-03.gif");
  width: 300px;
  height: 90px;
    
}